.history {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5px;
  overflow: auto;
  max-height: 60px;
  align-items: flex-end;
}
.historyitem {
  width: 30px;
  height: 30px;
  margin-right: 3px;
  cursor: pointer;
}
