.menu {
  position: relative;
  border: 1px solid #666;
  padding: 0px 5px;
  cursor: pointer;
}

.menu .inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 31px;
  left: -1px;
  width: fit-content;
  white-space: nowrap;
  min-width: 125px;
  background-color: #222;
  border: 1px solid #555;
  z-index: 2;
}

.menu .inner .menuitem {
  display: flex;
  align-items: center;
  padding: 10px 20px;
}

.menu .inner .menuitem:hover {
  background-color: #444;
}

.menu .inner label {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.menu .inner label.col {
  flex-direction: column;
}

.menu .inner hr {
  border: 1px solid #444;
  border-radius: 1px;
  width: 100%;
  padding: 0;
}

.menu .icon {
  margin-right: 10px;
}

input[type="number"] {
  width: 40px;
}
input[type="range"] {
  width: 100px;
}
