.App {
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-width: 100%;
  height: fit-content;
  min-height: 100%;
  background-color: #222;
  color: white;
  user-select: none;
}

.logo {
  padding: 5px;
  background-color: #340034;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: inset -2px -2px 5px black;
}

.col {
  flex-direction: column;
}
