.App {
  display: flex;
  position: relative;
  flex-direction: column;
  width: fit-content;
  min-width: 100%;
  height: fit-content;
  min-height: 100%;
  background-color: #222;
  color: white;
  user-select: none;
}

.lightbulb {
  position: absolute;
  right: 2px;
  top: 2px;
}
